.navigation
  .container
    .row
      .col-lg-3.col-md-4.col-5.d-flex
        %a{href: "index.html"}
          .logo__text.logo__text_black
            DoubleVolt
      .col-lg-6.d-none.d-lg-block
        .nav
          %ul.menu.d-flex.justify-content-between
            %li.menu__item
              %a.menu__link{href: "index.html"}
                Главная
            %li.menu__item
              %a.menu__link{href: "О компании.html"}
                О компании
            %li.menu__item
              %a.menu__link{href: "Услуги.html#"}
                Услуги
            %li.menu__item
              %a.menu__link{href: "Контакты.html"}
                Контакты
            %li.menu__item
              %a.menu__link{href: "Отзывы.html"}
                Отзывы
      .col-lg-3.col-md-7.d-none.d-md-block
        .phone.d-flex
          .phone__icon
            %i.fas.fa-phone
          .phone__info.d-flex
            %a.phone__text{href: "#"}
              Заказать звонок
            %a.phone__number{href: "tel:+74955672815"}
              + 7 (495) 567-28-15